.blue-box {
  position: relative;
  background-color: blue;
  height: 300px;
  width: 500px;
  margin: 200px 0px 0px 200px;
}

.red-circle {
  position: absolute;
  background-color: red;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-top: 150px;
  margin-left: 250px;
}
